.form-players {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(163, 142, 160, 1) 0%,
    rgba(145, 90, 142, 1) 47%,
    rgba(102, 119, 121, 1) 81%
  );
}

.form-players .choose-multiplayer {
  display: grid;
}

.form-players label {
  color: blue;
  margin-left: 0.5rem;
}

.players-nickname {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-7rem);
}

.players-nickname input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

.players-nickname input#playerTwoName,
.players-nickname label#playerTwoName {
  /* visibility: hidden; */
}

.players-nickname button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  cursor: pointer;
}

.choose-board {
  display: grid;
  width: 100%;
  transform: translateY(-15rem);
}
