.memo-block {
    cursor: pointer;
    aspect-ratio: 1 / 1;
}

.memo-block-front, .memo-block-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
}
  
.memo-block-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.memo-block-flipped {
    transform: rotateY(180deg);
    cursor:default;
    
}


.memo-block-back {
    background-color: #19e48f;
    transform: rotateY(180deg);
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 55px; */

    font-size: 45px;
    
}

.memo-block-front {
    background-color: #0d5b72;
}

@media(max-width: 650px){
    .board-8x8 {
        max-width: 500px;
    }
    .memo-block-back {
        font-size: 30px;
      }
}

@media(max-width: 580px){
   .memo-block-back {
      font-size: 30px;
    }
}

@media(max-width: 414px){
    .memo-block-back {
      font-size: 20px;
    }
}

@media(max-width: 360px){
    .memo-block-back {
      font-size: 20px;
    }
}

@media(max-width: 325px){
    .memo-block-back {
      font-size: 12px;
    }
}

@media(max-width: 280px){
    .memo-block-back {
      font-size: 12px;
    }
}

@media(max-width: 250px){
    .memo-block-back {
      font-size: 8px;
    }
}